# Loja Integrada API
LI_CHAVE_API=c9b02688ef5097ab6a26
LI_CHAVE_APLICACAO=df63ca80-5968-4476-9b43-11189846cb9a

# Meta Ads API (preencher após conectar conta Meta)
META_ACCESS_TOKEN=
META_AD_ACCOUNT_ID=

# App URL
NEXT_PUBLIC_APP_URL=https://dashboard.mamba.army
